.page-header {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  margin-top: 6px;
}

.page-header__title {
  font-weight: bold;
  margin: 0;
  font-size: 22px;
  text-transform: uppercase;
  margin-left: 8px;
}

.page-header__btn {
  padding: 6px 8px;
}