.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 100px 50px 1fr 50px;
  height: 100%;
}

.home_footer {
  justify-self: center;
  align-self: center;
  font-size: 12px;
}

.home__title {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.home__title > h1, .home__title > p {
  margin: 0;
  padding: 0;
}

.home__title > h1 {
  align-self: end;
}

.home__title > p {
  font-family: 'Times New Roman', Times, serif;
  align-self: center;
  font-size: 14px;
  font-style: italic;
}

.home_buttons {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 32px;
  justify-content: center;
  
}

.home_buttons_register, .home_buttons_login {
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  color: white;
  transition: all 0.5s;
  width: 100%;
  margin: auto;
}

.home_buttons_register {
  background-color: var(--red);
}

.home_buttons_login {
  background-color: var(--blue);
}

.home_buttons_register:hover, .home_buttons_register:active {
  background-color: rgba(255, 0, 0, 0.8);
}

.home_buttons_login:hover, .home_buttons_login:active {
  background-color: rgba(15, 64, 131, 0.8);
}