.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
}

.home > h1 {
  justify-self: center;
}

.home_buttons {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 32px;
  justify-content: center;
}

.home_buttons_register, .home_buttons_login {
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 24px;
  color: white;
  transition: all 0.5s;
}

.home_buttons_register {
  background-color: var(--red);
}

.home_buttons_login {
  background-color: var(--blue);
}

.home_buttons_register:hover, .home_buttons_register:active {
  background-color: rgba(255, 0, 0, 0.8);
}

.home_buttons_login:hover, .home_buttons_login:active {
  background-color: rgba(15, 64, 131, 0.8);
}