.profile {
  display: grid;
  grid-template-rows: 50px 1fr max-content;
  height: calc(100% - 8px);
  padding-bottom: 8px;
  position: relative;
}

.profile__header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-gap: 16px;
}

.profile__header > h1 {
  margin: 0;
  font-size: 22px;
  justify-self: start;
  align-self: center;
}

.profile__header__invitations {
  align-self: center;
  background-color: var(--red);
  padding:  6px 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.profile__header__username {
  align-self: center;
  justify-self: end;
}

.profile__header > button {
  margin: 0;
  justify-self: end;
  align-self: center;
  font-size: 12px;
}

.profile__content {
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-gap: 8px;
}

.profile__content__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.profile__content__buttons > button {
  font-size: 18px;
}

.profile__pending-invitations {
  position: absolute;
}