.container {
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
  margin: auto;
}

.login-form {
  display: grid;
}

.login-form__field {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.login-form__field label {
  align-self: end;
}

.login-form__field input {
  border-radius: 4px;
  height: 24px;
  font-size: 16px;
  padding: 0 4px;
}

.login-form__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-top: 16px;
}