:root {
  --red: #FF0000;
  --blue: #0F4083;
  --green: rgba(0, 117, 59, 1);
  --orange: rgba(253, 97, 0, 1);
  --shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  --black: rgba(42, 42, 42, 1);
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0 8px;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, var(--blue), var(--red));
  height: 100%;
  color: white;
  min-height: 100%;
}

.btn {
  font-size: 14px;
  padding: 10px;
  color: white;
  border: none;
  font-weight: bold;
}

.btn--success {
  background-color: var(--green);
}

.btn--warning {
  background-color: var(--orange);
}

.btn--danger {
  background-color: var(--red);
}

.btn--blue {
  background-color: var(--blue);
}

.btn--red {
  background-color: var(--red);
}
