:root {
  --red: #FF0000;
  --blue: #0F4083;
}

html {
  height: 100%;;
}

body {
  margin: 0;
  padding: 8px;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, var(--blue), var(--red));
  height: 100%;
  color: white;
}
